<!DOCTYPE html>
<html>

<head>
    <title>data</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <h1><%= title %></h1>
    <p><a href = "/">Home</a></p>
    <p><a href = "/jobs">Job List</a></p>
    <p><a href = "/login">Login</a></p>
    <p><a href = "/register">Register</a></p>
