<%- include ("partials/header.ejs", {title: ""}) %>

<body>
    <section id="search" class="search-wrap">
        <h1>Find Your Dream Job</h1>
        <form action="/jobs/search" class="search-form">
            <input type="search" name="keyword" placeholder="Engineering, Web Dev, Marketing, Etc....">
            <input type="submit" value="Search">
        </form>
    </section>
</body>



<%- include ("partials/footer.ejs") %>