<%- include ("partials/header.ejs", {title: "Register"}) %>
<div id="form">
    
    <form action="/register" method="POST">
        <label >Username</label><br>
        <input type="text" name="username" value=""><br><br>
        <label>Email</label><br>
        <input type="email" name="email" value=""><br><br>
        <label>Password</label><br>
        <input type="password" name="password" value=""><br><br>
        <input type="submit" value="Register">
    </form>
</div>

<%- include ("partials/footer.ejs") %>